.navbar-nav ml-auto{
	float: right;
}
#mainNavbar:hover {
	color: black;
	background-color: white;
}
.container-fluid{
	background-color: grey;

}
.img-fluid{
 padding:60px 20px;
}
.img-fluid2{
 padding:70px 20px;
 height: 400;
 width: 100%;
}
.image2{
 padding :10% 0;
}
.container-fluid-1{
	background-color: black;
	color: darkorchid;
	padding:50px 20px;
}
.container-fluid-2{
	background-color: black;
	color: white;
	padding:50px 40px;
	/*display: flex;*/
}
.container-fluid-4{
	align-items: center;
	background-color: black;
	color: white;
	align-items: center;
	padding:50px 20px;
}
.container-fluid-3{
	background-color: green;
	color: white;
	padding:50px 20px;
}
.container-fluid-5{
	margin-top: 20px;
	padding:50px 20px;
	background: grey;
	color: white;
}
/*input[type=text] {
  width: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('j11.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}*/
